/* ----------------------  */
/* Custom properties       */
/* ----------------------  */

:root {
  /* colors */
  --clr-green: #14ff00;
  --clr-orange: #ffb800;
  --clr-white: #f5f3f4;
  --clr-dark-grey: #373737;
  --clr-light-grey: #484848;

  /* font-sizes */
  --fs-lrg: 3rem;
  --fs-med: 1.4rem;
  --fs-sm: 0.8rem;

  /* font-weight */
  --fw-400: 400;
  --fw-200: 200;
}

@media (min-width: 35em) {
  :root {
    --fs-lrg: 4rem;
    --fs-med: 1.5rem;
    --fs-sm: 0.85rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-lrg: 5rem;
    --fs-med: 1.6rem;
    --fs-sm: 0.9rem;
  }
}

/* ----------------------  */
/* Reset                   */
/* ----------------------  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  font-weight: 200;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Dosis", sans-serif;
  font-size: var(--fs-med);
  color: var(--clr-white);
  background-color: var(--clr-dark-grey);

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------  */
/* Utilities               */
/* ----------------------  */

/* General */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.margin-top {
  margin-top: 1rem;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.border-radius {
  border-radius: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* Colors */
.bg-dark {
  background-color: var(--clr-dark-grey);
}

.bg-light {
  background-color: var(--clr-light-grey);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-green {
  background-color: var(--clr-green);
}

.bg-orange {
  background-color: var(--clr-orange);
}

.text-green {
  color: var(--clr-green);
}

.text-orange {
  color: var(--clr-orange);
}

.text-white {
  color: var(--clr-white);
}

.text-dark {
  color: var(--clr-dark-grey);
}

/* Spacing */
.padding-bottom {
  padding-bottom: 1em;
}

.border--bottom-green {
  border-bottom: 3px solid var(--clr-green);
}

.border-0 {
  border: 0;
}

.align-text-left {
  text-align: left;
}

.align-self-right {
  align-self: flex-end;
}

/* typography */
.lowercase {
  text-transform: lowercase;
}

.fs-lrg {
  font-size: var(--fs-lrg);
}

.fs-med {
  font-size: var(--fs-med);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fw-400 {
  font-weight: 400;
}

.fw-200 {
  font-weight: 200;
}

/* ----------------------  */
/* Componenets             */
/* ----------------------  */

/* Nav bar */
.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--clr-light-grey);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus {
  color: var(--clr-green);
  transition: color 0.5s ease;
}

@media (max-width: 35rem) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
    /* margin-block: 2rem; */
    justify-content: flex-end;
    padding-block: 1em;
  }
}

/* Card */
.card {
  width: 300px;
  background-color: var(--clr-dark-grey);
  border: 3px solid var(--clr-green);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/* Styles for the card image */
.card-img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Styles for the card title */
.card-title {
  margin-bottom: 10px;
}

/* Styles for the card body */
.card-body {
  padding: 20px;
  text-align: center;
}

/* Styles for the card body content */
.card-content {
  font-size: var(--fs-med);
  margin-bottom: 10px;
}

.card:hover,
.card:focus {
  border-color: var(--clr-orange);
  transition: border-color 0.5s ease;
}

/* Modal */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: 0;
}
.modal {
  background-color: var(--clr-light-grey);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal button {
  cursor: pointer;
}

.modal button:first-child:hover {
  background-color: var(--clr-green);
  transition: background-color 0.5s ease;
}

.close-button {
  padding: 0.5em;
  background-color: inherit;
  border: 0;
  fill: var(--clr-orange);
}

.close-button:hover,
.close-button:focus {
  fill: var(--clr-green);
  transition: fill 1s ease;
}
