* {
  color: #ADACB5;
  font-family: 'Dosis', sans-serif;
  font-size: 64px;
}

body {
  margin: 0;
}

.bg-primary {
  background-color: #2D3142 !important;
}

.bg-secondary {
  background-color: #3A3F55 !important;
}

.text-primary {
  color: #ADACB5 !important;
}

.text-primary-emphasis {
  color: #B0D7FF !important;
}

.border-primary {
  border-color: #EAE8FF !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  box-shadow: none !important;
}

/* .menu-icon:active, .menu-icon:focus {
  border-color: green !important;
} */

.navbar-toggler-icon {
  background-image: url(navbar-icon.svg);
  width: 80px;
  height: 80px;
  font-size: 1rem !important;
}

/* .navbar-toggler-icon:hover {
  background-color: yellow !important;
} */

.navbar-toggler {
  font-size: 0rem !important;
  padding: 0.01rem !important;
}