.container {
  max-width: 75%;
}

* {
  color: #F5F3F4;
  font-family: 'Dosis', sans-serif;
  font-size: 64px;
}

body {
  margin: 0;
  background-color: #373737;
}

.bg-primary {
  background-color: #373737 !important;
}

.bg-secondary {
  background-color: #484848 !important;
}

.text-primary {
  color: #F5F3F4 !important;
}

.text-primary-emphasis {
  color: #14FF00 !important;
  font-size: 0.4rem;
}

.text-secondary-emphasis {
  color: #FFB800 !important;
  font-size: 0.4rem;
}

.title-primary-emphasis {
  color: #14FF00;
}

.title-secondary-emphasis {
  color: #FFB800;
}

.border-primary {
  border-color: #14FF00 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  box-shadow: none !important;
}

/* .menu-icon:active, .menu-icon:focus {
  border-color: green !important;
} */

.navbar-toggler-icon {
  background-image: url(navbar-icon.svg);
  width: 80px;
  height: 80px;
  font-size: 1rem !important;
}

/* .navbar-toggler-icon:hover {
  background-color: yellow !important;
} */

.navbar-toggler {
  font-size: 0rem !important;
  padding: 0.01rem !important;
}

h2 {
  font-size: 0.75rem;
}

.body-text {
  font-size: 0.4rem;
}

.rounded {
  border-radius: 20% !important;
}

.text-secondary {
  color: #FFB800 !important;
  font-size: 0.4rem;
}

.card-title {
  font-size: 0.6rem;
}

.card {
  cursor: pointer !important;
  background-color: #373737;
}

/* .border-primary {
  border-color: #B0D7FF !important;
} */

.modal-content {
  background-color: #373737;
}

.modal-title {
  font-size: 0.6rem;
  border-color: #14FF00 !important;
}

.modal-stack {
  font-size: 0.5rem;
}

.modal-content {
  font-size: 0.4rem;
}

.btn-info {
  background-color: #FFB800 !important;
}

.btn-close {
  background-image: url(svg/closebutton.svg);
}

.btn-close:focus {
  outline: none !important;
  box-shadow: none;
}